#woo-customer-form-callback {
    font-size: 20px;
    font-weight: bold;
}
#woo-customer-form-callback.error {
    color: red;
}
#woo-customer-form-callback.success {
    color: green;
}
#woo-customer-pagination a.page-numbers,
#woo-customer-pagination span.page-numbers {
    font-size: 20px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    padding: 4px;
    outline: none;
}
#woo-customer-pagination a.page-numbers.current,
#woo-customer-pagination span.page-numbers.current {
    text-decoration: none;
    color: green;
}